# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.*egg-info
build

# tests and coverage
*.pytest_cache
.coverage
*test*.py
tmp

# database & logs
*.db
*.sqlite3
*.log

# venv
env
.venv

# other
.DS_Store
LOG
shared_prefs

# sphinx docs 
_build
_static
_templates
__session__

# javascript
package-lock.json
.vscode/symbols.json
app/base/static/assets/node_modules
app/base/static/assets/yarn.lock
app/base/static/assets/.temp