{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Analysis</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Analysis</h1>
                <p class="mb-0">You can select a sample</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">Static Analysis Menu</h2>
                    <button type="button" class="btn btn-sm btn-secondary" onClick="toggleDiv('id-decompiler-menu')">See all</button>
                </div>
                <div class="card-body" id="id-decompiler-menu" style="display: none">
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">Disasambly</h4></div>
                              <div class="col text-right">
                                <button type="button" class="btn btn-sm btn-facebook" name="n-viewbtn" id="disasambly" onClick="toggleDiv('id-opcode-input')">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                View</button>
                              </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">ELF Format</h4></div>
                              <div class="col text-right">
                                <button type="button" class="btn btn-sm btn-facebook" name="n-viewbtn" id="format" onClick="toggleDiv('id-format-input')">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                View</button>
                              </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">IDA Analysis</h4></div>
                              <div class="col text-right">
                                <button type="button" class="btn btn-sm btn-facebook" name="n-viewbtn" id="ida" onClick="toggleDiv('id-ida-input')">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                View</button>
                              </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">IDA(IL2CPP) Analysis</h4></div>
                              <div class="col text-right">
                                <button type="button" class="btn btn-sm btn-facebook" name="n-viewbtn" id="ida-il2cpp">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                View</button>
                              </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">IL2CPP Dumper</h4></div>
                              <div class="col text-right">
                                <button type="button" class="btn btn-sm btn-facebook" name="n-viewbtn" id="il2cpp" onClick="toggleDiv('id-il2cpp-input')">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                View</button>
                              </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      

        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">Dynamic Analysis Menu</h2>
                    <button type="button" class="btn btn-sm btn-secondary" onClick="toggleDiv('id-control-menu')">See all</button>
                </div>
                <div class="card-body" id="id-control-menu" style="display: none">
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">Dynamic Settings</h4></div>
                              <div class="col text-right">
                                <a class="btn btn-sm btn-facebook" name="n-runbtn" id="settings">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                    Run</a>
                              </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">Strace</h4></div>
                              <div class="col text-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-facebook" name="n-strace-btn" id="id-on-btn">
                                        <span class="me-1"><span class="spinner-border spinner-border-sm" id="id-on-span" style="display: none"></span></span>
                                        <span id="id-strace-on" style="display: inline">On</span>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-facebook" name="n-strace-btn" id="id-off-btn">
                                        <span class="me-1"><span class="spinner-border spinner-border-sm" id="id-off-span" style="display: none"></span></span>
                                        <span id="id-strace-off" style="display: inline">Off</span>
                                    </button>
                                </div>
                              </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">Memory Dump</h4></div>
                              <div class="col text-right">
                                <a class="btn btn-sm btn-facebook" name="n-runbtn" id="memory">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                    Run</a>
                              </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">Packer Dump</h4></div>
                              <div class="col text-right">
                                <a class="btn btn-sm btn-facebook" name="n-runbtn" id="packer">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                    Run</a>
                              </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush list my--3">
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto ms--2"><h4 class="h6 mb-0">Yara Search</h4></div>
                              <div class="col text-right">
                                <a class="btn btn-sm btn-facebook" name="n-runbtn" id="yara">
                                    <span class="me-1"><span class="fas fa-link"></span></span>
                                    Run</a>
                              </div>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="col" id="id-opcode-input" style="display: none">
                <label for="textarea">Input Opcode</label>
                <textarea class="form-control" placeholder="Enter your Opcode..." id="id-opcodeText" rows="2"></textarea>
                
                <fieldset>
                    <legend class="h6">Platform</legend>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-arch-input" value="ARM" checked>
                        <label class="form-check-label">ARM</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-arch-input" value="ARM64">
                        <label class="form-check-label">ARM64</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-arch-input" value="THUMB">
                        <label class="form-check-label">THUMB</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-arch-input" value="X86">
                        <label class="form-check-label">X86</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-arch-input" value="X64">
                        <label class="form-check-label">X64</label>
                    </div>
                </fieldset>
                <div class="mt-3">
                    <button type="submit" class="btn btn-sm btn-dark" id="id-dis-send-btn">Send</button>
                </div>
            </div>

            <div class="col" id="id-format-input" style="display: none">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0">Library Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <fieldset>
                            {% for path in lib_list %}
                            <tr> 
                                <td>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="n-lib-path" value={{ path }}><label class="form-check-label">{{ path }}</label>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </fieldset>
                        </tbody>
                    </table>        
                </div>
                <fieldset>
                    <legend class="h6">Format Type</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="all" checked>
                        <label class="form-check-label">ALL</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="h">
                        <label class="form-check-label">FHEADER</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="p">
                        <label class="form-check-label">PHEADER</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="s">
                        <label class="form-check-label">SHEADER</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="d">
                        <label class="form-check-label">DYNAMIC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="S">
                        <label class="form-check-label">SYMBOL</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="dS">
                        <label class="form-check-label">DYNSYM</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="r">
                        <label class="form-check-label">RELDYN</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-format-type" value="rp">
                        <label class="form-check-label">RELPLT</label>
                    </div>
                </fieldset>

                <div class="mt-3">
                    <button type="submit" class="btn btn-sm btn-dark" id="id-format-send-btn">Send</button>
                </div>
            </div>

            <div class="col" id="id-ida-input" style="display: none">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0">Library Path</th>
                                <th class="border-0">Library Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <fieldset>
                            {% for path in ida_list %}
                            <tr> 
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="n-ida-path" value={{ path[0] }}>
                                        <label class="form-check-label">{{ path[0] }}</label>
                                    </div>
                                </td>
                                <td><span class="fw-normal">{{ path[1] }}</span></td>
                            </tr>
                            {% endfor %}
                            </fieldset>
                        </tbody>
                    </table>        
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-sm btn-dark" id="id-ida-send-btn">Send</button>
                </div>
            </div>

            <div class="col" id="id-il2cpp-input" style="display: none">               
                <fieldset>
                    <legend class="h6">Platform</legend>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-il2cpp-input" value="ARM" checked>
                        <label class="form-check-label">ARM</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-il2cpp-input" value="ARM64">
                        <label class="form-check-label">ARM64</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="n-il2cpp-input" value="THUMB">
                        <label class="form-check-label">THUMB</label>
                    </div>
                </fieldset>
                <div class="mt-3">
                    <button type="submit" class="btn btn-sm btn-dark" id="id-il2cpp-send-btn">Send</button>
                </div>
            </div>



        </div>
    </div>




    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0">Text Viewer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-0"><pre class="h6" id="view_content" style="display: block"></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
$(document).on("click","#id-dis-send-btn", function() {
    var arch = $('input[name=n-arch-input]:checked').val();
    var text = $('#id-opcodeText').val();

    $.ajax({
        url: "/analysis/disasm",
        type: "GET",
        data: {"arch": arch, "text": text},

        success: function(response) {
            console.log("SUCCESS: ");
            var opcodeInputMenu = document.getElementById('id-opcode-input');
            opcodeInputMenu.style.display = "none";
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","#id-format-send-btn", function() {
    var lib_path = $('input[name=n-lib-path]:checked').val();
    var lib_type = $('input[name=n-format-type]:checked').val();

    $.ajax({
        url: "/analysis/format",
        type: "GET",
        data: {"lib_path": lib_path, "lib_type": lib_type},

        success: function(response) {
            console.log("SUCCESS: ");
            var formatInputMenu = document.getElementById('id-format-input');
            formatInputMenu.style.display = "none";
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","#id-ida-send-btn", function() {
    var lib_path = $('input[name=n-ida-path]:checked').val();

    var link_class = $('#ida').find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);

    $.ajax({
        url: "/analysis/ida",
        type: "GET",
        data: {"lib_path": lib_path},

        success: function(response) {
            console.log("SUCCESS: ");
            link_class.attr('class', link_org_class_name)
            var formatInputMenu = document.getElementById('id-ida-input');
            formatInputMenu.style.display = "none";
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","#ida-il2cpp", function() {
    var link_class = $(this).find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);

    $.ajax({
        url: "/analysis/ida/il2cpp",
        type: "GET",

        success: function(response) {
            console.log("SUCCESS: ");
            link_class.attr('class', link_org_class_name)
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});

$(document).on("click","#id-il2cpp-send-btn", function() {
    var arch = $('input[name=n-il2cpp-input]:checked').val();

    var link_class = $('#il2cpp').find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);


    $.ajax({
        url: "/analysis/il2cpp",
        type: "GET",
        data: {"arch": arch},

        success: function(response) {
            console.log("SUCCESS: ");
            link_class.attr('class', link_org_class_name)

            var opcodeInputMenu = document.getElementById('id-il2cpp-input');
            opcodeInputMenu.style.display = "none";
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});

$(document).on("click","#settings", function() {
    var link_class = $(this).find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);


    $.ajax({
        url: "/analysis/settings",
        type: "GET",

        success: function(response) {
            console.log("SUCCESS: ");
            link_class.attr('class', link_org_class_name)
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","button[name='n-strace-btn']", function() {

    if ($(this).attr('id') == "id-on-btn") {
        var flag = 'on';

        $('#id-on-span').css('display', 'inline-block');
        $('#id-strace-on').css('display', 'none');
        
    } else if ($(this).attr('id') == "id-off-btn") {
        var flag = 'off';

        $('#id-on-span').css('display', 'none');
        $('#id-strace-on').css('display', 'inline-block');

        $('#id-off-span').css('display', 'inline-block');
        $('#id-strace-off').css('display', 'none');
    }

    $.ajax({
        url: "/analysis/strace",
        type: "GET",
        async: false,
        data: {"flag": flag},

        success: function(response) {
            console.log("SUCCESS: " + response);
            $("#view_content").text(response);

            $('#id-off-span').css('display', 'none');
            $('#id-strace-off').css('display', 'inline-block');
        },

        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","#memory", function() {
    var link_class = $(this).find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);

    $.ajax({
        url: "/analysis/mdump",
        type: "GET",

        success: function(response) {
            console.log("SUCCESS: " + response);
            link_class.attr('class', link_org_class_name)
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","#packer", function() {
    var link_class = $(this).find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);

    $.ajax({
        url: "/analysis/pdump",
        type: "GET",
        dataType : "JSON",

        success: function(response) {
            console.log("SUCCESS: " + response);
            link_class.attr('class', link_org_class_name)
            $("#view_content").text(response.msg);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});


$(document).on("click","#yara", function() {
    var link_class = $(this).find('span span');
    var link_org_class_name = link_class.attr('class');
    var loading_class_name = "spinner-border spinner-border-sm";
    link_class.attr('class', loading_class_name);

    $.ajax({
        url: "/analysis/yara",
        type: "GET",

        success: function(response) {
            console.log("SUCCESS: " + response);
            link_class.attr('class', link_org_class_name)
            $("#view_content").text(response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }
    });

});



function toggleDiv(cName) {
    var decpMenu = document.getElementById(cName);

    if (decpMenu.style.display === "none") {
        decpMenu.style.display = "block";
    } else {
        decpMenu.style.display = "none";
    }
}


</script>
{% endblock javascripts %}
