{% extends "layouts/base.html" %}

{% block title %} APP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Volt</a></li>
                <li class="breadcrumb-item active" aria-current="page">App</li>
              </ol>
          </nav>
          <h2 class="h4">All Orders</h2>
          <p class="mb-0">Your web analytics dashboard template.</p>
      </div>
  </div>


  <div class="card card-body shadow-sm table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Package Name</th>						
                  <th>Current Time</th>
                  <th>Analysis Time</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                          456478
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 May 2020</span></td>                        
                  <td><span class="fw-normal">1 Jun 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-warning">Due</span></td>
                  <td>
                      <div class="btn-group">
                          <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-sm">
                                  <span class="fas fa-ellipsis-h icon-dark"></span>
                              </span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu py-0">
                              <a class="dropdown-item rounded-top" href="#"><span class="fas fa-eye me-2"></span>View Details</a>
                              <a class="dropdown-item" href="#"><span class="fas fa-edit me-2"></span>Edit</a>
                              <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</a>
                          </div>
                      </div>
                  </td>
              </tr>
              <!-- Item -->
              <tr>
                  <td>
                      <a href="#" class="fw-bold">
                          456423
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 Apr 2020</span></td>                        
                  <td><span class="fw-normal">1 May 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-success">Paid</span></td>
                  <td>
                      <div class="btn-group">
                          <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-sm">
                                  <span class="fas fa-ellipsis-h icon-dark"></span>
                              </span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu py-0">
                              <a class="dropdown-item rounded-top" href="#"><span class="fas fa-eye me-2"></span>View Details</a>
                              <a class="dropdown-item" href="#"><span class="fas fa-edit me-2"></span>Edit</a>
                              <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</a>
                          </div>
                      </div>
                  </td>
              </tr> 
 
              <!-- Item -->                              
          </tbody>
      </table>
      <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  <li class="page-item">
                      <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                  </li>
              </ul>
          </nav>
          <div class="fw-bold small d-none d-lg-block">Showing <b>5</b> out of <b>25</b> entries</div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
