{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">

    <div class="col-12 col-xl-8 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Device List</h2>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">NAME</th>
                                <th scope="col">MODEL</th>
                                <th scope="col">CPU</th>
                                <th scope="col">SDK</th>
                                <th scope="col">ROOTING</th>
                                <th scope="col">SETTING</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for device in devices %}
                            <tr>
                                <th scope="row">{{ device.name }}</th>
                                <td>{{ device.model }}</td>
                                <td>{{ device.arch }}</td>
                                <td>{{ device.sdk }}</td>
                                <td>{{ device.su }}</td>

                                {% if device.set == False %}
                                <td>
                                    <div class="col text">
                                    <button type="button" class="btn btn-sm btn-outline-dark" id="id_set_btn">SET</button>
                                    </div>
                                </td>
                                {% else %}
                                <td>ON</td>                  
                                {% endif %}

                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-4">
                            <div>
                                <h6 class="mb-0">LDPlayer Controler</h6>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-angle-down dropdown-arrow"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Create</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Remove</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Restart</a>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0">NoxPlayer Controler</h6>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between pt-3">
                            <div>
                                <h6 class="mb-0">BlueStack Controler</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-4">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5">LDPlayer List</h2>
                                </div>
                                <div class="col text-right">
                                    <button type="button" class="btn btn-sm btn-secondary" id="ld_run_btn">RUN</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush" id="id-list">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">MODEL</th>
                                    <th scope="col">Choice</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ld in ldplayer %}
                                <tr>
                                    <th scope="row"> {{ ld }} </th>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="id-ld-check">
                                            <label class="form-check-label" for="user-notification-1"></label>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-12 col-xl-4 mb-4">
        <div class="col-12 px-0 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                        <h2 class="h5">Running App List</h2>
                        </div>
                        <div class="col text-right">
                            <h2 class="h6">{{ plist_dev }}</h2>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Chown</th>
                            <th scope="col">PID</th>
                            <th scope="col">APP NAME</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proc in plist %}
                        <tr>
                            <th scope="row">{{ proc[0] }}</th>
                            <th scope="row">{{ proc[1] }}</th>
                            <th scope="row">{{ proc[2] }}</th>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">

$(document).on('click', '#ld_run_btn', function() {

    var model = new Array();

    $('#id-list tbody tr').each(function(i, el) {
        var th = this.getElementsByTagName("th");
        var td = this.querySelector("td div #id-ld-check");

        if ($(td).is(":checked")) {
            model[i] = $(th).text();
        }      
    });

    $.ajax({
        url: "/device",
        type: "POST",
        traditional : true,
        data: {"model": model},

        success: function(response) {
            console.log("SUCCESS: " + response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }

    });

});


$(document).on('click', '#id_set_btn', function() {
    
    $('#id_set_btn').hide();

    $.ajax({
        url: "/device",
        type: "POST",
        data: {"set": true},

        success: function(response) {
            console.log("SUCCESS: " + response);
        },
        error: function(error) {
            console.log("ERROR: " + error);
        }

    });

});


</script>
{% endblock javascripts %}
